footer {
	.gradient {
		background: linear-gradient(to top, white 60%, transparent);
		background: -webkit-linear-gradient(to top, white, transparent);
		background: -mozlinear-gradient(to top, white, transparent);
		background: -ms-linear-gradient(to top, white, transparent);
	}

	.checked,
	.footer {
		width: vw(1520);

		@media screen and (max-width:$sp) {
			width: 95%;
		}
	}

	h2 {
		margin-top: rem(80);
		margin-bottom: rem(80);

		@media screen and (max-width:$sp) {
			margin-top: rem(60);
			margin-bottom: rem(30);
		}
		&::before,
		&::after {
			content: '';
			flex-grow: 1;
			height: 1px;
			background: #000;
		}
		&::before {
			margin-right: 2rem;
		}
		&::after {
			margin-left: 2rem;
		}
	}

	h3 {
		height: rem(36);
		margin-bottom: rem(20);
		font-size: rem(20);
	}

	.mt-56px {
		margin-top: rem(56);
	}

	.mr-86px {
		margin-right: rem(86);
	}

	.pb-20px {
		padding-bottom: rem(20);
	}

	.pb-70px {
		padding-bottom: rem(70);
	}

	a {
		text-decoration: none;
	}

	.instagram::after {
		@include bsicon("instagram");
		font-size: 1.5rem;
	}

	.facebook::after {
		@include bsicon("facebook");
		font-size: 1.5rem;
	}

	.chevron-up::before {
		@include bsicon("chevron-up");
		padding-right: .5rem;
	}

	.chevron-down::after {
		@include bsicon("chevron-down");
		padding-left: .5rem;
	}
}
