#freepage {
	.mincho {
		font-family: a-otf-ryumin-pr6n, serif;
		font-weight: 300;
		font-style: normal;
		}
	.freepage {
		&-shinshun {
			&-buttonWrap {
				transition: .3s;
				&:hover {
					opacity: .8;
				}
			}
		}
		&-about {
			.map-wrap{
				.map-header{
					text-align: center;
					margin-bottom: 2rem;
					img{
						zoom: .75;
						@include media-breakpoint-down(lg){
							zoom: 1;
						}
					}
				}
				&-item{
					padding-top: 2rem;
					margin-bottom: 3rem;
					@include media-breakpoint-down(lg){
						margin-bottom: 0;
					}
				}
			}
			.map-item-wrap{
				display: flex;
				justify-content: center;
				@include media-breakpoint-down(lg){
					flex-direction: column;
				}
				.map-item{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					@include media-breakpoint-down(lg){
						margin-bottom: 2rem;
					}
					&:first-child{
						margin-right: 2rem;
						@include media-breakpoint-down(lg){
							margin-right: 0;
						}
					}
					&-info{
						margin-bottom: 1rem;
						@include media-breakpoint-up(lg){
							width: 480px;
						}
						@include media-breakpoint-down(lg){
							text-align: center;
						}
						a{
							text-decoration: none;
						}
					}
					.map-shopname{
						@include media-breakpoint-down(lg){
							font-size: 1.5rem;
						}
					}
					.map-headerline{
						@include media-breakpoint-down(lg){
							border-bottom: 1px solid #000;
							margin-bottom: 1rem;
							display: inline-block;
						}
					}
					&-map{
						width: 480px;
						@include media-breakpoint-down(lg){
							width: 100%;
						}
					}
				}
			}
		}
		&-howtobake {
			&-title {
				h2 {
					border-bottom: $secondar-color solid 4px;
					@media (max-width: map-get($grid-breakpoints,lg)) {
						font-size: rem(22);
					}
					&:before {
						position: absolute;
						bottom: -4px;
						left: 0;
						width: 20%;
						height: 4px;
						content: '';
						background: $forth-color;
					}
				}
			}
			&-notes {
				p {
					text-decoration: wavy underline 1px;
				}
				li {
					&::before {
						content: "・";
						position: absolute;
						left: -1rem;
					}
				}
			}
			&-recipe {
				.step1::before {
					content: "1";
				}
				.step2::before {
					content: "2";
				}
				.step3::before {
					content: "3";
				}
				.step4::before {
					content: "4";
				}
				li {
					&:not(:first-of-type){
						border-top: $third-color dashed 2px;
					}
					&::before {
						color: #fff;
						background-color: #000;
						position: absolute;
						left: 0;
						top: 1rem;
						width: 2rem;
						height: 2rem;
						text-align: center;
						line-height: 2rem;
						@media (max-width: map-get($grid-breakpoints,lg)) {
							left: 50%;
							transform: translateX(-50%);
						}
					}
					div {
						flex-basis: 50%;
					}
					img {
						width: 90%;
						height: auto;
					}
				}
			}
			.note {
				color: #A71C10;
				font-weight: bold;
				&::before {
					content: "※";
					position: absolute;
					left: 0;
				}
			}
			h3 {
				border-left: $secondar-color solid 4px;
				@media (max-width: map-get($grid-breakpoints,lg)) {
					font-size: rem(22);
				}
			}
		}
 	}
}
