//ヘッダー箇所

.header-nav{
	padding: 2.083vw 2.969vw;
	background: linear-gradient(to bottom, #fff, #fff, #fff, #fff, #fff, transparent);
	@media screen and (max-width:$sp) {
		padding: 2.667vw 2.667vw 5.6vw;
		background: linear-gradient(to bottom, #fff, #fff, #fff, #fff, #fff, #fff, #fff, transparent);
	}
	button {
		border: none;
		&:focus {
			box-shadow: none;
		}
	}
	.main-logo {
		margin-right: 7.552vw;
		@media screen and (max-width:$sp) {
			width: 150px;
			margin-right: 0;
		}
	}
	.sp-navbar-icons {
		li a {
			padding: 0 1.333vw;
			.header-icon {
				width: auto;
				height: 7.2vw;
			}
		}
	}
}
.main-nav {
	margin-top: 0.625vw;
	li {
		margin-right: 4.688vw;
		&:last-child {
			margin-right: 0;
		}
		a {
			padding: 0;
			font-size: 0.938vw;
			span {
				font-size: 0.729vw;
			}
		}
	}
}
.navbar-icons {
	margin-top: 0.625vw;
	.header-icon-list {
		margin: 0 0.833vw;
		.header-icon {
			width: auto;
			height: 1.406vw;
		}
	}
}
.navbar-toggler {
	padding: 0;
}
.openbtn{
	position: relative;
	width: 50px;
	height:50px;
	cursor: pointer;
}

/*ボタン内側*/
.openbtn span{
	display: inline-block;
	transition: all .4s;
	position: absolute;
	left: 12.5px;
	height: 2px;
	background-color: #666;
}
.openbtn span:nth-of-type(1) {
	top: 20.5px;
	width: 50%;
}
.openbtn span:nth-of-type(2) {
	top:31px;
	width: 50%;
}
/*activeクラスが付与されると線が回転して×に*/
.openbtn.active span:nth-of-type(1) {
	top: 20px;
	left: 16px;
	transform: translateY(6px) rotate(-45deg);
	width: 35%;
}
.openbtn.active span:nth-of-type(2) {
	top: 32px;
	left: 16px;
	transform: translateY(-6px) rotate(45deg);
	width: 35%;
}
