
#header {
	@keyframes fade-in {
		from {opacity: 0;}
		to {opacity: 1;}
	}
	.header-nav{
		padding: 2.083vw 2.969vw;
		background: linear-gradient(to bottom, #fff, #fff, #fff, #fff, #fff, transparent);
		@media screen and (max-width:$sp) {
			padding: 2.667vw 2.667vw 5.6vw;
			background: linear-gradient(to bottom, #fff, #fff, #fff, #fff, #fff, #fff, #fff, transparent);
		}
		button {
			border: none;
			&:focus {
				box-shadow: none;
			}
		}
		.main-logo {
			margin-right: 7.552vw;
			@media screen and (max-width:$sp) {
				width: 150px;
				margin-right: 0;
			}
		}
		.sp-navbar-icons {
			li a {
				padding: 0 1.333vw;
				.header-icon {
					width: auto;
					height: 7.2vw;
				}
			}
		}
		#navbarNav {
			.main-nav {
				margin-top: 0.625vw;
				@media screen and (max-width:$sp) {
					margin-top: 36px;
				}
				.nav-item {
					margin-right: 4.688vw;
					@media screen and (max-width:$sp) {
						margin: 0 0 36px;
						position: relative;
					}
					&:last-child {
						margin-right: 0;
						@media screen and (max-width:$sp) {
							margin: 0 0 36px;
						}
					}
					> .nav-link {
						padding: 0;
						font-size: 0.938vw;
						color: $primary!important;
						transition: .3s;
						@media screen and (max-width:$sp) {
							font-size: 20px;
							&::after {
								@include bsicon('chevron-right');
								position: absolute;
								top: 20px;
								right: 10px;
								margin-top: -15px;
								transition: .3s;
							}
							&.rotate::after {
								transform: rotate(90deg);
								transition: .3s;
							}
						}
						&:hover {
							color: $third-color!important;
							span {
								color: rgba(0,0,0,0.7)!important;
							}
						}
						span {
							font-size: 0.729vw;
							transition: .3s;
							@media screen and (max-width:$sp) {
								font-size: 16px;
								margin-left: 12px;
							}
						}
					}
					.sub-nav-wrap {
						@media screen and (max-width:$sp) {
							display: none;
						}
					}
					.sub-nav {
						position: absolute;
						@media screen and (max-width:$sp) {
							position: relative;
						}
					}
					.c-sub-nav,.g-sub-nav {
						left: 50%;
						transform: translateX(-50%);
						-webkit-transform: translateX(-50%);
						-ms-transform: translateX(-50%);
						transition: .5s;
						opacity: 0;
						visibility: hidden;
						// opacity: 1;
						// visibility: inherit;
						background: linear-gradient(#fff 0% 30%, #fff 40% 70%, transparent 85% 100%);
						@media screen and (max-width:$sp) {
							left: 0%;
							transform: translateX(0%);
							-webkit-transform: translateX(0%);
							-ms-transform: translateX(0%);
							background: none;
						}
						&.show {
							opacity: 1;
							visibility: visible;
							transition: .5s;
						}
						.c-sub-nav-blists {
							&-link {
								padding-bottom: 8px;
								border-bottom: 1px $primary solid;
								font-size: 0.938vw;
							}
							.c-sub-nav-slists {
								.c-sub-nav-slist{
									&-link {
										font-size: 0.729vw;
										span {
											&::before{
												@include bsicon('caret-right-fill');
												margin-right: 5px;
											}
										}
									}
								}
							}
						}
						.g-sub-nav-blists {
							&-link {
								padding-bottom: 8px;
								font-size: 0.938vw;
								span {
									&::before{
										@include bsicon('caret-right-fill');
										margin-right: 5px;
									}
								}
							}
							&-img {
								width: 13.542vw;
								max-width: 260px;
								transition: .3s;
								&:hover {
									opacity: .8;
									transition: .3s;
								}
							}
						}
					}
					.g-sub-nav.dish-group {
						.group-2373403, .group-2338001, .group-2338000, .group-2337958 {
							display: block!important;
						}
					}
					.g-sub-nav.budget-group {
						.group-2337960, .group-2337981, .group-2337986, .group-2337988, .group-2337989, .group-2337999 {
							display: block!important;
						}
					}
					.g-sub-nav.price-group {
						.group-2673106, .group-2673107, .group-2673108 {
							display: block!important;
						}
					}
				}
			}
			.navbar-icons {
				margin-top: 0.625vw;
				.header-icon-list {
					margin: 0 0.833vw;
					cursor: pointer;
					.header-icon {
						width: auto;
						// height: 1.406vw;
						height: 25px;
					}
				}
				.header-account {
					&-icon {
						&:hover {
							cursor: pointer;
							.header-account-lists {
								display: block;
								animation-name: fade-in;
								animation-duration: .3s;
							}
						}
					}
					&-lists {
						right: 10px;
						display: none;
						transition: .3s;
						li {
							padding: 10px 12px;
							background-color: #fff;
						}
					}
				}
			}
		}
		.navbar-toggler {
			padding: 0;
			.openbtn  {
				position: relative;
				width: 50px;
				height:50px;
				cursor: pointer;
				span{
					display: inline-block;
					transition: all .4s;
					position: absolute;
					left: 12.5px;
					height: 2px;
					background-color: #666;
					&:nth-of-type(1) {
						top: 20.5px;
						width: 50%;
					}
					&:nth-of-type(2) {
						top:31px;
						width: 50%;
					}
				}
				&.active span {
					&:nth-of-type(1) {
						top: 20px;
						left: 16px;
						transform: translateY(6px) rotate(-45deg);
						width: 35%;
					}
					&:nth-of-type(2) {
						top: 32px;
						left: 16px;
						transform: translateY(-6px) rotate(45deg);
						width: 35%;
					}
				}
			}
		}
	}
	#overlay{
		/*オーバーレイのCSS*/
		position: fixed;
		top: 0;
		z-index: 10000;
		width: 100vw;
		height:100vh;
		display: none;
		background: rgba(0,0,0,0.5);
		#close-btn{
			cursor: pointer;
			top: 30%;
			right: 30%;
			position: absolute;
			&::before{
				@include bsicon('x-square');
				font-size: 40px;
			}
		}
		.overlayflex{
			/*オーバーレイ内の要素を上下・左右中央揃え*/
			width: 100%;
			height:100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.form-box{
			display: flex;
			width: 400px;
			border-radius: 40px;
			background-color: #fff;
			box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
			.form-input{
				border: none;
				width: 100%;
				background-color: transparent;
				&:focus {
					outline: none;
				}
			}
			.form-button{
				background-color:transparent;
				border: none;
				.bi-search {
					&::before {
						font-size: 32px;
						margin:0;
					}
				}
			}
		}
	}
}
