#product_list {
	.product_list-item {
		@include media-breakpoint-down(lg) {
			&:nth-of-type(odd) {
				padding-right: calc(var(--bs-gutter-x) * .25);
			}
			&:nth-of-type(even) {
				padding-left: calc(var(--bs-gutter-x) * .25);
			}
		}
		&-name {
			margin-bottom: .2rem;
		}
	}
}
#product_list-header-wide {
	.p-category-main-image {
		&-img {
			width: 100%;
		}
		&-text {
			font-size: 1.2rem;
			@include media-breakpoint-down(lg) {
				font-size: 15px;
				@include TrajanL();
			}
		}
	}
}
#product_list-header {
	.p-category-title {
		background: radial-gradient(circle, white 85%, rgba(255,255,255,0));
	}
	.p-sub-category {
		@include media-breakpoint-down(lg) {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		&-item {
			background-color: $primary;
			padding: 0.6rem 2rem;
			margin: 0 0.5rem 0.5rem 0;
			transition: .3s;
			@include media-breakpoint-down(lg) {
				padding: 0.4rem 1.5rem;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				background-color: #00000040;
				.p-sub-category-name{
					color: $primary;
				}
			}
			&.select {
				background-color: #00000040;
				.p-sub-category-name{
					color: $primary;
				}
				&:hover {
					background-color: $primary;
					.p-sub-category-name{
						color: #fff;
					}
				}
			}
			&[data-id="2337960"], &[data-id="2337981"], &[data-id="2337989"], &[data-id="2337999"]{
				display: block!important;
			}
		}
		&-name {
			font-size: 1.2rem;
			color: #fff;
			transition: .3s;
		}
	}
	.p-sub-category-description{
		&-textbox {
			padding: 0 0 0 2rem;
			@include media-breakpoint-down(lg) {
				padding: 0;
			}
			&-catch {
				border-bottom: 1px solid $primary;
				letter-spacing: 1.2px;
				padding-bottom: 0.5rem;
				margin-bottom: 0.5rem;
				@include media-breakpoint-down(lg) {
					padding-bottom: 0;
				}
			}
			&-text {
				border-bottom: 1px dashed $primary;
				line-height: 1.6rem;

			}
		}
	}
	.c-product-sort {
		&-total {
			span {
				font-size: 1.1rem;
				margin: .1rem;
				@include media-breakpoint-down(lg) {
					font-size: 5.333vw;
				}
			}
		}
		&-switch {
			position: relative;
			width: 110px;
			&:after {
				content: "";
				position: absolute;
				right: 10px;
				top: 12px;
				width: 8px;
				height: 8px;
				border-top: 1px solid #fff;
				border-left: 1px solid #fff;
				transform: translateY(-50%) rotate(-135deg);
				pointer-events: none;
			}
			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-color: $primary;
				color: #fff;
				padding: .3rem .5rem;
				position: relative;
				width: 100%;
			}
		}
	}
	.product_list-dish-group {
		.product_list-blists {
				width: 22%;
				padding: 0 3%;
				@include media-breakpoint-down(lg) {
					padding: 0;
					width: 50%;
				}
			&-link {
				@include media-breakpoint-down(lg) {
					font-size: 1.2rem;
				}
			}
			&-img {
				filter: drop-shadow(2px 3px 6px rgba(0,0,0,0.7));
				transition: .3s;
				&.inactive {
					filter: none;
					opacity: .7;
					&:hover {
						filter: drop-shadow(2px 3px 6px rgba(0,0,0,0.7));
						opacity: 1;
						transition: .3s;
					}
				}
			}
		}
		.group-2373403, .group-2338001, .group-2338000, .group-2337958 {
			display: block!important;
		}
	}
}
