#review {
	.bb-d {
		border-bottom: dashed thin;
		padding-bottom: .5rem;
	}

	h4 {
		margin-top: rem(10);
		margin-bottom: rem(20);
	}

	.chevron-right {
		position: relative;
	}

	.chevron-right::after {
		@include bsicon("chevron-right");
		position: absolute;
		right: .5rem;
	}

	.customer {
		color: #706F70;
		font-weight: 100;
	}

	.star {
		position: relative;
		z-index: 0;
		display: inline-block;
		white-space: nowrap;
		color: #CCCCCC;

		&::before,
		&::after {
			content: '★★★★★';
		}

		&::after {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			overflow: hidden;
			white-space: nowrap;
			color: #ffcf32;
		}
	}
	.row:nth-child(even) {
		flex-direction: row-reverse;
		@include media-breakpoint-down(lg) {
			flex-direction: row;
		}
	}
	.more {
		width: vw(381);
		height: vw(60);
		margin-top: rem(40);
		letter-spacing: .3rem;
		@include media-breakpoint-down(lg) {
			display: inline;
			width: rem(112);
			height: rem(48);
			margin-top: rem(-20);
			position: absolute;
			right: 0;
		}
		&::after {
			@include media-breakpoint-down(lg) {
				right: .05rem;
			}
		}
	}

	.row {
		margin-top: rem(40);
		@include media-breakpoint-down(lg) {
			background: #fff;
			margin: 0;
			padding: 2rem 1rem;
		}
	}
}
