#sidebar {

	@include media-breakpoint-down(lg) {
		width: 100%;
	}

	.nav-item {
		padding-top: rem(6);
		padding-bottom: rem(6);
		background: radial-gradient(circle, white 85%, rgba(255, 255, 255, 0));
	}

	.chevron-right {
		position: relative;
		&::after {
			@include bsicon("chevron-right");
			position: absolute;
			margin-right: 1.5rem;
			right: .5rem;
		}
	}

	.bb-1 {
		width: 95%;
		border-bottom: solid thin;

		@include media-breakpoint-down(lg) {
			width: 100%;
		}
	}

	.w-95 {
		width: 95%;
	}

	.bb-d {
		border-bottom: dashed thin;
	}

	.gift {
		width: 90%;
		margin: 0 auto;
	}

	.gift-sp {
		background: radial-gradient(circle, white 85%, rgba(255, 255, 255, 0));
	}

	.instagram::after {
		@include bsicon("instagram");
	}

	.facebook::after {
		@include bsicon("facebook");
	}

	.mb-10px {
		margin-bottom: rem(10);
	}

	.h-55px {
		height: vw(55);
	}

	a {
		text-decoration: none;
	}
}
