// カルーセル
.carousel-indicators {
	margin-bottom: rem(53);
}

.carousel-indicators {
	.active {
		background-color: #000;
	}
}

// 矢印
#info,
#ranking,
#price,
#dish,
#furusato {
	.chevron-right {
		position: relative;

		&::after {
			@include bsicon("chevron-right");
			position: absolute;
			right: .5rem;
		}
	}
}

#info,
#ranking,
#furusato {
	@include media-breakpoint-down(lg) {
		margin-bottom: 5rem;
	}
	.name {
		margin-top: .7rem;
	}
	.more {
		width: 20%;
		margin-top: 1rem;
		padding: 1.5rem 0;
		letter-spacing: .3rem;

		@include media-breakpoint-down(lg) {
			width: rem(112);
			height: rem(48);
			margin: 0;
			padding: 0;
			position: absolute;
			right: 0;
		}

		&::after {
			@include media-breakpoint-down(lg) {
				right: .05rem;
			}
		}
	}
}

#dish {
	.dish::after {
		top: 18%;
	}
}

// artice間マージン
#info,
#ranking,
#brand,
#dish,
#furusato {
	margin-bottom: 5.5rem;
}
#brand,
#dish {
	@include media-breakpoint-down(lg) {
		margin-bottom: 2rem;
	}
}

// インフォメーション,ふるさと納税
#info,
#furusato {
	.head {
		margin: .8rem 0 .4rem;
	}
	.date {
		font-size: .8rem;
		margin-left: .5rem;
	}
	.title {
		padding-bottom: .8rem;
		border-bottom: solid thin;
	}
	.expl {
		padding-top: .8rem;
	}
}

// ランキング
#ranking {
	.rank-1 {
		background: #ebaa00;
	}

	.rank-2 {
		background: #808080;
	}

	.rank-3 {
		background: #42210b;
	}

	.rank-4 {
		color: #000;
		background: #fff;
	}
}

// ブランド
#brand {

	h5 {
		margin-top: 1.8rem;
		padding-bottom: .8rem;

		@include media-breakpoint-down(lg) {
			margin-top: 1rem;
			font-size: 1.1rem;
		}
	}

	p {
		margin-top: .8rem;

		@include media-breakpoint-down(lg) {
			font-size: .8rem;
		}
	}

	.bb-1 {
		border-bottom: solid 1px;
	}
}

//オーバーレイ
#nenshi_overlay{
	position: fixed;
	top: 0;
	width: 100vw;
	height:100vh;
	display: none;
	background: rgba(0,0,0,0.6);
	z-index: 2147483647;
	.flex{
		/*オーバーレイ内の要素を上下・左右中央揃え*/
		width: 100%;
		height:100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.overlay_inner{
		background-color:#FFF;
		text-align:center;
		width: 60%;
		font-size: 20px;
		letter-spacing: 1.4px;
		line-height: 1.7;
		@include NotoSerifL();
		@include media-breakpoint-down(lg) {
			width: 90%;
			font-size: 15px;
		}
		span {
			font-size: 22px;
			@include media-breakpoint-down(lg) {
				font-size: 17px;
			}
		}
	}
	#nenshi_close_btn{
		cursor: pointer;
		line-height: 1.5;
		border-radius: 0.5rem;
		border: 1px solid #ccc;
		background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
		background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
		background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
		-webkit-box-shadow: inset 1px 1px 1px #fff;
		box-shadow: inset 1px 1px 1px #fff;
		&:hover {
		background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
		background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
		background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
		}
	}
}


//instagram(information)
#instagram {
	#instagram-lists {
		.instagram-feed {
			&-imgWrap {
				&:hover {
					img {
						filter: brightness(1.05);
					}
				}
				img {
					transition: .3s;
				}
			}
			.title {
				text-decoration: none;
				color: inherit;
				transition: .2s;
				&:hover {
					text-decoration: underline;
					color: inherit;
					opacity: .7;
				}
			}
		}
	}
}
