// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: false;
$enable-shadows: true;

// Customize some defaults
$main-color: #000;
$secondar-color: #645844;
$third-color: #EAE3CC;
$forth-color: #CAC2AC;
$body-color: #000;
$body-bg: $third-color;
$border-radius: 0;
$primary: $main-color;
$secondary: $secondar-color;
$success: $third-color;
$info: #fff;
$link-color: $main-color;
$link-hover-color: $secondar-color;
$navbar-nav-link-padding-x: 0rem;
$navbar-brand-margin-end: 0rem;
$spacer: 1rem;
$spacers: (
	0: 0,
	1: $spacer,
	2: $spacer * 2,
	3: $spacer * 3,
	4: $spacer * 4,
	5: $spacer * 5,
	6: $spacer * 6,
	7: $spacer * 7,
	8: $spacer * 8,
	9: $spacer * 9,
	10: $spacer * 10,
	11: $spacer * 11,
	12: $spacer * 12,
	13: $spacer * 13,
	14: $spacer * 14,
	15: $spacer * 15,
	16: $spacer * 16,
	17: $spacer * 17,
	18: $spacer * 18,
	20: $spacer * 19,
);

// カルーセル
$carousel-indicator-width: 8rem;
$carousel-indicator-height: 4px;
$carousel-indicator-spacer: 13px;
$carousel-indicator-opacity: .8;
$carousel-indicator-hit-area-height: 0;
$box-shadow: 0 0 8px #000;

$sp: 768px;//ブレークポイント

@import "bootstrap/scss/bootstrap"; // Required

//
// Custom styles
//
// 画面幅を1920pxとしてem, vwに変換
$baseWidth : 1920;
@function rem($pixels) {
    @return $pixels / $baseWidth * 100rem;
}
@function vw($pixels) {
    @return $pixels / $baseWidth * 100vw;
}

@import "mixin-bsicon";
@import "font";
@import "icon-list";
@import "header";
@import "footer";
@import "top";
@import "sidebar";


*{
	box-sizing: border-box;
	-webkit-appearance: none;
	word-break: break-word;
}
html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p,
 section, header, footer, nav, form, input, div {
	margin: 0;
	padding: 0;
}
.c-section__heading--title span{
  @include NotoSerifSB();
}
// Style Bootstrap icons
.bi {
	fill: currentColor;
}
